<html>
    <head></head>

    <body>
        <p>Greetings!</p>

        <p>
            This is a notification that your job has been accepted. You can check the status of your job at:<br />
            <a href="{{ job_results_url }}">{{ job_results_url }}</a>
        </p>

        <p>
            Your job's ID is <b>{{ pin_id }}</b>. You can either use the link
            above or that job ID to retrieve your job later on.
        </p>

        <h4>Arguments for your job:</h4>
        <p>
           {{ job_args_list }} 
        </p>

        <p>Thank you for using MolEvolvR! Please reach out (janani.ravi@cuanschutz.edu) if you have any questions.</p>
    </body>
</html>
