/* Basic box */
.basic-box {
	width:100%;
	min-height:12vh;
	background-color:white;
    border: 1px solid #AAAAAA;
	margin-bottom: 5px;
	float: left; 
	position: relative; 
}

/* Diagram Box */
.diagram-box {
	width:100%;
	/*height:100%;*/
	height: 200px;
	min-height:23vh;
	background-color:white;
    border: 1px solid #AAAAAA;
	margin-bottom: 5px;
	float: left; 
    transition: 0.5s ease; 
	position: relative; 
}

/* Flow chart box hover effects */
.diagram-box:hover {
	-webkit-transform: scale(1.05); 
	-ms-transform: scale(1.05);
	transform: scale(1.05); 
}

.box-title {
	box-shadow: 1px 2px 3px 1px #ccc;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.diagram-box-description {
	padding: 10px;
	margin: auto;
}

/* Style the buttons of the flow chart*/
.diagram-button {
	position: absolute;
	top:0;
	width: 100%; 
	height: 100%;
	opacity: 0;
	text-align: center;
}

.diagram-image {width:100%; height:65%; min-height:5vh; background-color: white;
                  
 position: absolute; object-fit: scale-down;}

.sub-box {
	width:100%;
	/*height:100%;*/
	height: 30px;
	min-height:8vh;
	background-color:white;
    border: 1px solid #AAAAAA;
	margin-bottom: 5px;
	float: left; 
    transition: 0.5s ease; 
	position: relative; 
}

/* Flow chart box hover effects */
.sub-box:hover {
	-webkit-transform: scale(1.05); 
	-ms-transform: scale(1.05);
	transform: scale(1.05); 
}


.sub-box h4, .sub-box p {
	display: inline;
    vertical-align: top;
    font-size: 10px;
    line-height: 20px;
}

.sub-box h4 {
	font-weight: bold;
}

.sub-diagram-button {
	position: relative;
	top:0;
	width: 100%; 
	height: 100%;
	opacity: 0;
	text-align: center;
}



.diagram-elipse {
  margin: auto;
  padding: 20px;
  width: 100%; 
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  /*
  -moz-transform: scaleY(0.4);
  -webkit-transform: scaleY(0.4);
  */
}


.arrow {
	/*position: absolute;*/
	width: 100%;
	text-align: center;
}
.arrow-d {
	transform: rotate(90deg);
	-webkit-transform:
	rotate(90deg);
}

.arrow-r {
	/*margin: auto;*/
	line-height: 200px;
}

.arrow-l {
	line-height: 200px;
}

.arrow-dl {
	transform: rotate(135deg);
	-webkit-transform:
	rotate(135deg);
}

.arrow-dr {
	transform: rotate(45deg);
	-webkit-transform:
	rotate(45deg);
}



/* Box indicating page under construction */
.construction-box {
	margin: auto;
	padding: 20px;
	width: 100%; 
	height: 50px;
	background: repeating-linear-gradient(
		45deg,
		#fcb103,
		#fcb103 10px,
		#ffcc57 10px,
		#ffcc57 20px
	  );
	  
}


.text-area-output {
	border: 3px solid #FFEC94;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
	width: 100%;
	height: 100%; 
	
}

/* Make fasta text output scrollable */
#generatedFasta{
	width: 100%;
	height: 300px;
	overflow: scroll;
	resize: vertical;
}

#DF2Fasta{
	width: 100%;
	height: 300px;
	overflow: scroll;
	resize: vertical;
}
