<html>
<head></head>

<body>
    <p>Greetings!</p>
    
    <p>
        This is a notification that your job with ID <b>{{ pin_id }}</b> has completed!
    </p>
    
    <p>You can check the results of your job at:<br />
        <a href="{{ job_results_url }}">{{ job_results_url }}</a>
    </p>
    
    <p>
        Your job's ID is <b>{{ pin_id }}</b>. You can either use the link
        above or that job ID to retrieve your job.
    </p>
    
    <p> Your job completed in (HH:MM:SS): <b>{{ context$duration }}</b>. </p>
    <p>It started running at <b>{{ context$min_start }}</b> and ended at <b>{{ context$max_end }}</b>.</p>
    
    
    <h4>Arguments for your job:</h4>
    <p>
        {{ job_args_list }} 
    </p>
    
    <h4>Job Runtime Information:</h4>
    <p>
        <ul>
            {{
                accum <- ''
                
                for (curjob in context$jobs) {
                    accum <- paste0(accum, "<li><h2>Job ID #", curjob$JobIdHuman, "</h2><ul>")
                        
                        for (key in names(curjob)) {
                            if (key != "JobId" && key != "JobIdHuman") {
                                accum <- paste0(accum, "<li><b>", key, ":</b> ", curjob[[key]], "</li>")
                            }
                        }
                        
                        accum <- paste0(accum, "</ul></li>")
                    }
                    
                    HTML(accum)
                }}
            </ul>
        </p>
        
        <p>Thank you for using MolEvolvR! Please reach out (janani.ravi@cuanschutz.edu) if you have any questions.</p>
    </body>
    </html>
    